%h2 My Projects
%a( ui-sref='projects.new' )
  .btn.btn-success New Project
%div( ui-view='project' )
%div( ng-if='myProjects().length == 0' )
  %h3.well You have no projects right now
%div( ng-if='myProjects().length > 0' )
  %table.table.table-hover.table-responsive
    %thead
      %tr
        %td Title
        %td Owner #
        %td Tasks
        %td Timeline
        %td Actions
    %tbody
      %tr( ng-repeat='project in myProjects()' )
        %td {{ project.title }}
        %td {{ project.ownerId }}
        %td
          .btn.btn-primary( ng-click='changeContext(project)' ) Tasks
        %td
          %a( ng-if='isManagable(project)' ui-sref='project.timeline({projectId: {{project.id}} })' )
            .btn.btn-primary Timeline
        %td
          .btn.btn-info( ui-sref='project({projectId: {{project.id}} })' ) Details
          .btn.btn-danger( ng-if='isManagable(project)' ng-click='deleteProject(project)' ) Destroy

%div( ng-if='memberProjects().length > 0')
  %h2 Collaborated Projects
  %div
    %table.table.table-hover.table-responsive
      %thead
        %tr
          %td Title
          %td Owner #
          %td Tasks
          %td Timeline
          %td Actions
      %tbody
        %tr( ng-repeat='project in memberProjects()' )
          %td {{ project.title }}
          %td {{ project.ownerId }}
          %td
            .btn.btn-primary( ng-click='changeContext(project)' ) Tasks
          %td
            %a( ng-if='isManagable(project)' ui-sref='project.timeline({projectId: {{project.id}} })' )
              .btn.btn-primary Timeline
          %td
            .btn.btn-info( ui-sref='project({projectId: {{project.id}} })' ) Details
            .btn.btn-danger( ng-if='isManagable(project)' ng-click='deleteProject(project)' ) Destroy

%div( ng-if='publicProjects().length > 0')
  %h2 Public Projects
  %div
    %table.table.table-hover.table-responsive
      %thead
        %tr
          %td Title
          %td Owner #
          %td Tasks
          %td Timeline
          %td Actions
      %tbody
        %tr( ng-repeat='project in publicProjects()' )
          %td {{ project.title }}
          %td {{ project.ownerId }}
          %td
            .btn.btn-primary( ng-click='changeContext(project)' ) Tasks
          %td
            %a( ng-if='isManagable(project)' ui-sref='project.timeline({projectId: {{project.id}} })' )
              .btn.btn-primary Timeline
          %td
            .btn.btn-info( ui-sref='project({projectId: {{project.id}} })' ) Details
            .btn.btn-danger( ng-if='isManagable(project)' ng-click='deleteProject(project)' ) Destroy
