%div( ng-if='projects' )
  %h2 Projects
  %a( ui-sref='projects.new' )
    .btn.btn-success New Project
  %div( ui-view )
  %table.table.table-hover.table-responsive
    %thead
      %tr
        %td Title
        %td Owner #
        %td Actions
    %tbody
      %tr( ng-repeat='project in projects' )
        %td {{ project.title }}
        %td {{ project.ownerId }}
        %td
          .btn.btn-info( ui-sref='project({id: {{project.id}} })' ) Details
          .btn.btn-danger( ng-click='deleteProject(project.id)' ) Destroy
