%div( ui-view )
  %div( ng-if='project' )
    %h3 {{ project.title }}
    %div( ng-if='project.description')
      %h4 {{ project.description }}
    %div( ng-if='!project.description')
      %h4 No description given
    Owner id: {{ project.ownerId }}
    %p
    %a( ui-sref='project.edit({id: {{project.id}} })' )
      .btn.btn-success.btn-sm Edit
    .btn.btn-danger.btn-sm( ng-click='delete()' ) Destroy
