%tabset( ng-if='currentProject' )
  %tab( select="getLastWeekTimeline()" heading='Last week' )
    %timeline-table

  %tab( select="getLastMonthTimeline()" heading='Last month' )
    %timeline-table

  %tab( select='getCustomTimeline()' heading='Custom range' )
    %br
    .row
      %form( name="form" novalidate )
        .form-inline
          .col-sm-3
          .col-sm-3
            %datetimepicker-dropdown( time-model="range.from" config='{minView: "day"}' date-formatting='dd/MM/yyyy' addon='From' )
          .col-sm-3
            %datetimepicker-dropdown( time-model="range.to"   config='{minView: "day"}' date-formatting='dd/MM/yyyy' addon='To')

    %timeline-table
