Good day, sir! You have been invited to take participation in the following project:
%br
%br
%table
  %thead
    %tr
      %td Name
      %td Description
  %tbody
    %tr
      %td= @project.title
      %td= @project.description
%br
You can accept or decline it in your profile.
= link_to 'Check it.', root_url