%form.form-horizontal(role='form')
  .form-group
    %label.col-sm-4.control-label{:for => "inputEmail"} Email
    .col-sm-4
      %input#inputEmail.form-control{"ng-model" => "user.email", :placeholder => "Email", :type => "text"}/
  .form-group
    %label.col-sm-4.control-label{:for => "inputPassword"} Password
    .col-sm-4
      %input#inputPassword.form-control{"ng-model" => "user.password", :placeholder => "Password", :type => "password"}
  .form-group
    .col-sm-offset-4.col-sm-10
      %button.btn.btn-success{"ng-click" => "logIn(user.email, user.password)", :type => "submit"} Log In
  .form-group
    .col-sm-4.col-sm-offset-4.small
      Don't have an account?
      %a( ui-sref='sign_up' )
        Sign Up Here