%fa-app{:style => "height: 568px; width: 320px; margin: 0;", 'ng-controller' => 'IndexCtrl'}
  %fa-view{"fa-click" => "flip()", "fa-pipe-from" => "evt"}
    %fa-flipper#flipper
      %fa-surface{"fa-background-color" => "'#FF0000'", "fa-pipe-to" => "evt"} Front
      %fa-surface{"fa-background-color" => "'#0000FF'", "fa-pipe-to" => "evt"} Back