@font-face {
    font-family: 'Open Sans Italic';
    src: font-url('opensans-italic-webfont.eot');
    src: font-url('opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('opensans-italic-webfont.woff2') format('woff2'),
         font-url('opensans-italic-webfont.woff') format('woff'),
         font-url('opensans-italic-webfont.ttf') format('truetype'),
         font-url('opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Variables
*******************************************/
$dark_grey: #B3B3B3;
$grey-border: #e7e7e7;
$darker_grey: #8C8C8C;
$light_grey: #E8E8E8;
$lighter_grey: #F5F5F5;
$link_blue: #428bca;
$darkest_red: rgba(70, 50, 50, 1);

/* buttons */
$med_grey: #c8c8c8;
$med_light_grey: #DBDBDB;
$dark_orange: rgba(225, 135, 40, 1);
$dark_orange_light: rgba(225, 135, 40, 0.9);
$dark_red: rgba(143, 14, 14, 0.85);
$dark_red_light: rgba(143, 14, 14, 0.75);

/*project border radius*/
$pbr: 8px;

/* Trash
*******************************************/
#trash {
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 28px;
  color: #a94442;
  padding: 9px;
  opacity: 0.5;
  a {
    color: inherit;
    text-decoration: none;
    cursor: auto;
  }
  &.drag-enter {
    font-weight: bold;
    opacity: 1;
  }
}

/* General
*******************************************/
.col-md-3 {
  width: 23%;
  float: none;
}

img {
  &.avatar {
    max-height: 30px;
  }
  &.avatar-small {
    max-height: 17px;
  }
}

a:hover {
  cursor: pointer;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: pointer;
}

.timeline-badges {
  margin-top: 15px;
  padding-right: 50px;
}

.select-project {
  margin-left: -50px;
  select {
    position: relative;
  }
}

.badge-success {
  background-color: #5cb85c;
}

.badge-warning {
  background-color: #f0ad4e;
}

.color-warning{
  color: #f0ad4e;
}

/* Misc
*******************************************/
.title {
  display: inline-block;
  margin: 10px 0;
  font-size: 26px;
}

.small-caps {
  font-variant: small-caps;
  font-weight: 600;
}

.mgl { margin-left: 5px; }
.mgr { margin-right: 5px; }
.min-width-120 { min-width: 120px; }
.relative { position: relative !important; }
.center { text-align: center; }

.hoverable {
  transition: color 0.2s ease;

  &:hover {
    cursor: pointer;
    color: $link_blue;
  }
}

.icons {
  font-size: 16px;
}

.reverse-indent {
  display: inline-block;
  text-indent: -9999px;
}

.badge {
  &.warning {
    font-size: 11px;
    background-color: #F24438;
  }
}

.addon-on-the-right {
  border-radius: 4px 0 0 4px;
}
/* Tasks
*******************************************/
#create_btn {
  margin-top: 12px;
}

.tasks {
  .list {
    display: inline-block;
    vertical-align: top;
    margin: 5px;

    background-color: $light_grey;
    border-radius: 10px;

    .task {
      transition: box-shadow 0.2s ease;
      cursor: move;
      cursor: -webkit-grab;
      cursor: -moz-grab;
      margin: 8px 0;
      margin-bottom: 10px;
      padding: 8px;
      border-radius: 5px;
      background-color: $lighter_grey;

      &:hover {
        box-shadow: 3px 3px 0 $dark_grey;
      }

      &.dragging {
        cursor: move;
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
        min-width: 100px;
        max-width: 230px;
        width: 100%;
      }

      .footer .assignee {
        color: #8c8c8c;
        font-size: 12px;
        font-weight: lighter;
        letter-spacing: 0.5px;
      }
    }

    &.drag-enter {
      transition: box-shadow 140ms ease;
      transition: min-height 200ms ease;

      box-shadow: 3px 3px 0 1px $link_blue;
      min-height: 111px;
    }

    .title {
      font-weight: 600;
      color: $dark_grey;
      text-shadow: 1px 1px 0px $darker_grey;
    }
  }
}

/* Projects
*******************************************/
.tile {
  vertical-align: top;
  display: inline-block;
  width: 350px;
  padding: 0px;

  background-color: $light_grey;
  border-radius: $pbr;
  box-shadow: 3px 3px 0 1px $darkest_red;

  margin: 15px auto;
  margin-right: 25px;
  &:last-child {
    margin-right: 0px;
  }

  .header {
    padding: 0px 15px;
    font-size: 22px;

    .pull-right i {
      cursor: pointer;
      margin-top: 18px;
      &.fa {
        position: relative;
        top: -8px;
        right: -5px;
      }
      &.fa-trash:hover {
        color: $dark_red
      }
    }
  }

  .description {
    padding: 0px 15px;
    max-height: 97px;
    overflow: hidden;

    font-size: 16px;
    font-family: "Open Sans Italic", "Helvetica Neue", ​Helvetica, ​Arial, ​sans-serif;
  }

  .footer {
    bottom: 0;

    .owner {
      display: inline-block;
      padding: 5px 15px;
      width: 100%;

      background-image: linear-gradient(to bottom, $light_grey 75%, $med_grey 100%);

      font-size: 12px;
      color: $darker_grey;

      &.rounded {
        border-radius: 0 0 $pbr $pbr;
      }
    }

    .buttons {

      .btn {
        border: none;
        min-width: 50%;
        max-width: 100%;
        background-color: $med_grey;

        &:hover {
          background-color: $med_light_grey;
        }

        &.btn-edit {
          color: $lighter_grey;
          background-color: $dark_orange;

          &:hover {
            background-color: $dark_orange_light;
          }
        }

        &.btn-destroy {
          color: $lighter_grey;
          background-color: $dark_red;

          &:hover {
            background-color: $dark_red_light;
          }
        }

        &.pull-left {
          border-radius: 0px 0px 0px ($pbr - 1);
        }

        &.pull-right {
          border-radius: 0px 0px ($pbr - 1) 0px;
        }

        &.fill {
          width: 100%;
          border-radius: 0px 0px ($pbr - 1) ($pbr - 1);
        }
      }
    }
  }
}

/* Timetracks
*******************************************/
$timetrack-size: 27pt;

#timetracks {
  width: 80%;
  position: relative;
  margin: 0 auto;
  padding-left: 39px;
  padding-bottom: 20px;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 14px;
    z-index: -1;
    display: block;
    width: 2px;
    content: "";
    background-color: #f3f3f3;
  }

  .group {
    .group-title {
      margin-left: -31px;
      margin-top: 15px;
      color: #777;

      .octicon {
        margin-right: 17px;
        color: #ccc;
        background: #fff;
      }
    }

    ul {
      border-top: 1px solid $grey-border;
      margin-top: 10px;

      li {
        color: #777;
        padding: 10pt;
        border-bottom: 1px solid $grey-border;
        border-left: 1px solid $grey-border;
        border-right: 1px solid $grey-border;

        .avatar {
          width: $timetrack-size;
          height: $timetrack-size;
          margin-right: 10pt;
          background-size: cover;
        }

        .info {
          height: $timetrack-size;

          .task-title {
            font-weight: bold;
            color: #4e575b;
            font-size: 11.25pt;
            margin-bottom: 1pt;
          }

          .user-name {
            font-size: 9pt;
          }
        }
      }

      li:hover {
        background-color: #f8f8f8;
      }
    }
  }
}

/* Forms validation
*******************************************/
.form-control.ng-invalid {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}
.CustomValidationError {
  color: #a94442;
}
