/* Variables
*******************************************/
$dark_grey: #B3B3B3;
$darker_grey: #8C8C8C;
$light_grey: #E8E8E8;
$lighter_grey: #F5F5F5;
$link_blue: #428bca;

/* General
*******************************************/
.col-md-3 {
  width: 23%;
  float: none;
}

a:hover {
  cursor: pointer;
}

/* Misc
*******************************************/
.title {
  display: inline-block;
  margin: 10px 0;
  font-size: 26px;
  font-weight: 600;
  color: $dark_grey;
  text-shadow: 1px 1px 0px $darker_grey;
}

.small-caps {
  font-variant: small-caps;
  font-weight: 600;
}

.mgl { margin-left: 5px; }
.mgr { margin-right: 5px; }

.min-width-120 { min-width: 120px; }

.btn-like {
  text-decoration: none;
  cursor: pointer;
  background-color: #f8f8f8;

  background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #FFFFFF),
  color-stop(1, #F2F2F2)
  );
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #F2F2F2 100%);
  
  &:hover, &:focus, &:active {
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #FFFFFF),
      color-stop(1, #F2F2F2)
    );
    background-image: linear-gradient(to top, #FFFFFF 0%, #F2F2F2 100%);
  }
}

.badge.quad {
  min-width: 130px;
  padding: 3px 5px;
  background-color: #f8f8f8;
  font-weight: 200;
  color: $link_blue;
  border-radius: 0px;
}

.hoverable {
  transition: color 0.2s ease;
  
  &:hover {
    cursor: pointer;
    color: $link_blue;
  }
}

.icons {
  font-size: 16px;
}

/* Tasks
*******************************************/
#create_btn {
  margin-top: 12px;
}

.tasks {
  .list {
    display: inline-block;
    vertical-align: top;
    margin: 5px;

    background-color: $light_grey;
    border-radius: 10px;

    .task {
      transition: box-shadow 0.2s ease;

      cursor: move;
      cursor: -webkit-grab;
      cursor: -moz-grab;
      margin: 8px 0;
      margin-bottom: 10px;
      padding: 8px;
      border-radius: 5px;
      background-color: $lighter_grey;

      &:hover {
        box-shadow: 3px 3px 0 $dark_grey;
      }

      &.dragging {
        cursor: move;
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
        min-width: 100px;
        max-width: 200px;
        width: 100%;
      }
    } 
    
    &.drag-enter {
      transition: box-shadow 140ms ease;
      transition: min-height 200ms ease;

      box-shadow: 3px 3px 0 1px $link_blue;
      min-height: 111px;
    }
  }
}

.drag-enter {
  transition: box-shadow 0.2s ease;
  box-shadow: 3px 3px 0 1px $link_blue;
}
