%ul.nav.navbar-nav.navbar-right
  %li( ng-if="$state.is('sign_in') || $state.is('sign_up')" )
    %a( ui-sref='sign_in' )
      Log In
  %li( ng-if="$state.is('sign_in') || $state.is('sign_up')" )
    %a( ui-sref='sign_up' )
      Register
  %li.dropdown( dropdown ng-if="!($state.is('sign_in') || $state.is('sign_up'))" )
    %a.dropdown-toggle( href dropdown-toggle )
      {{ userFullName }}
    %ul.dropdown-menu
      %li
        %a( ui-sref='profile' href='#/profile' )
          Profile
      %li( ng-controller='SignOutCtrl' )
        %a( href='#' ng-click='logOut()' )
          Sign Out