%div( ng-class="{'form-group': formGroup}")
  .dropdown
    %a.dropdown-toggle( href data-toggle="dropdown" id="{{idAttr}}" )
      .input-group
        .input-group-btn( ng-if='addon' )
          .btn.btn-default {{ addon }}
        .input-group-addon( ng-if='!addon' )
          %span.glyphicon.glyphicon-calendar
        %input.form-control( type='text' placeholder="{{timeModel | date: dateFormatting}}" disabled='true' )
    %ul.dropdown-menu
      %datetimepicker( data-datetimepicker-config="{{config}}" ng-model="timeModel" )