.form-group
  .dropdown( dropdown )
    %a.dropdown-toggle( href dropdown-toggle )
      .input-group
        .input-group-addon
          %span( ng-if='addon' ) {{ addon }}
          %span.glyphicon.glyphicon-calendar( ng-hide='addon' )
        %input.form-control( type='text' placeholder="{{timeModel | date: dateFormatting}}" disabled='true' )
    %ul.dropdown-menu
      %datetimepicker( data-datetimepicker-config="{{config}}" ng-model="timeModel" )
