.tile( ng-repeat='member in members' )
  .header
    .title
      %img( ng-src='{{member.imageUrl}}' )
      {{ member.firstName }} {{ member.lastName }}
    .pull-right( ng-if='isOwner(member)' )
      %i.fa.fa-star.color-warning( tooltip="Owner" )
    .pull-right( ng-if='isRemovable(member)' )
      %i.fa.fa-trash( ng-click='deleteMember(member)' tooltip="Remove" )
  .footer
    .owner( class='rounded' )
      {{ member.email }}