.tile( ng-repeat='project in projects' )
  .header
    .title
      #header-label( ng-class='reversedInputState(project)' ) {{ project.title }}
      %input.form-control.tile-control.input-header( ng-class='project.inputState' ng-model='project.title' type='text' placeholder='{{ project.title }}' autofocus )
    .pull-right( ng-if='project.private' )
      %i.fa.fa-lock( tooltip='This project is private' )
    .pull-right( ng-if='!project.private' )
      %i.fa.fa-unlock-alt( tooltip="It's a public project" )
  .description( ng-class='reversedInputState(project)' ng-if='project.description' ) {{ project.description }}
  .description( ng-class='reversedInputState(project)' ng-if='!project.description' ) There is no description
  .description( ng-class='project.inputState' )
    %input.form-control.tile-control.input-desc( ng-class='project.inputState' ng-model='project.description' type='text' placeholder='{{ project.description }}' )
  .footer
    .owner( ng-class='isRounded(project)' )
      %i.fa.fa-user
      {{ project.owner.fullName }}
      %span( ng-hide='project.owner.firstName && project.owner.lastName' ) {{ project.owner.email }}
    .buttons( ng-if='isManagable(project)' )
      #edit-btn.btn.btn-edit.pull-left( ng-class='reversedInputState(project)' ng-click='toggleInputs(project)' )
        %i.fa.fa-pencil
        Edit
      #save-btn.btn.btn-save.pull-left( ng-class='project.inputState' ng-click='saveProject(project)' )
        %i.fa.fa-pencil
        Save
      .btn.btn-destroy.pull-right( ng-click='deleteProject(project)' )
        %i.fa.fa-trash
        Destroy
