.project( ng-repeat='project in projects' )
  .header
    .title {{ project.title }}
    .pull-right( ng-if='project.private' )
      %i.fa.fa-lock( tooltip='This project is private' )
    .pull-right( ng-if='!project.private' )
      %i.fa.fa-unlock-alt( tooltip="It's a public project" )
  .description( ng-if='project.description' ) {{ project.description }}
  .description( ng-if='!project.description' ) There is no description
  .footer
    .owner( ng-class='isRounded(project)' )
      %i.fa.fa-user
      {{ project.owner.firstName }}
      {{ project.owner.lastName }}
      %span( ng-hide='project.owner.firstName && project.owner.lastName' ) {{ project.owner.email }}
    .buttons( ng-if='isManagable(project)' )
      .btn.btn-edit.pull-left
        %i.fa.fa-pencil
        Edit
      .btn.btn-destroy.pull-right( ng-click='deleteProject(project)' )
        %i.fa.fa-trash
        Destroy
