.project( ng-repeat='project in projects' )
  .header
    .title {{ project.title }}
    .pull-right( ng-if='project.private' )
      %i.fa.fa-lock( tooltip='This project is private' )
    .pull-right( ng-if='!project.private' )
      %i.fa.fa-unlock-alt( tooltip="It's a public project" )
  .description( ng-if='project.description' ) {{ project.description }}
  .description( ng-if='!project.description' ) There is no description
  .footer
    .owner
      %i.fa.fa-user
      {{ project.owner.firstName }}
      {{ project.owner.lastName }}
      %span( ng-hide='project.owner.firstName && project.owner.lastName' ) {{ project.owner.email }}
    .buttons
      .btn.btn-full.pull-left( ng-if='!isManagable(project)' ng-click='gotoDetails(project)' )
        Details
      %div( ng-if='isManagable(project)' )
        .btn.pull-left( ng-click='gotoDetails(project)' )
          Details
        .btn.pull-right( ng-click='deleteProject(project)' )
          Destroy
