%div( ng-hide="$state.is('sign_in')" )
  %div( ng-hide="$state.is('sign_up')" )
    %form.navbar-form.navbar-left
      .form-group( ng-hide="projects.length < 2" )
        %select.form-control( ng-model='selected' ng-options='project.title for project in projects' )
