%form.select-project.navbar-form.navbar-left( ng-hide="$state.is('sign_in') || $state.is('sign_up')" )
  .form-group( ng-hide="projects.length < 2" )
    %select.form-control( ng-model='selected' ng-options='project.title group by groupNameFor(project.type) for project in projects' )