.col-md-3.list( ng-drop='{{ isManagable }}' ng-drop-success='updateStatus($data, state)' )
  .title {{ stateTitle }}
  .pull-right( ng-if='state == "todo"' )
    #create_btn.small-caps.btn.btn-success( ng-disabled='!isManagable' ng-click="newTaskModal()" ) add task
  %div( ng-repeat="task in tasks | filter:{ state: state }" )
    .task( ng-drag='isManagable' ng-drag-data='task' draggable='false' )
      %span {{ task.title }}
      %span.pull-right.icons( ng-if='isManagable' ng-drag='false' )
        %i.fa.fa-edit.hoverable( ng-click="editTaskModal(task.id)" )
        %i.fa.fa-clock-o.mgl.hoverable( ng-controller='TimetracksCtrl' ng-click='openModal(task.projectId, task)' )
      .clearfix
      %div.footer
        %span.assignee
          %img.avatar-small( ng-src="{{task.assignee.imageUrl}}" )
          {{ task.assignee.fullName }}
        %span.pull-right( ng-if='task.estimatedTime' )
          .badge.warning.small-caps {{ timeLeft(task) | secondsToTime }}