.col-md-3.list( ng-drop='{{ isManagable }}' ng-drop-success='updateStatus($data, state)' )
  .title {{ stateTitle }}
  .pull-right( ng-if='state == "todo"' )
    #create_btn.small-caps.btn.btn-success( ng-disabled='!isManagable' ng-click="newTaskModal()" ) add task
  %div( ng-repeat="task in tasks | filter:{ state: state }" )
    .task( ng-drag='isManagable' ng-drag-data='task' draggable='false' )
      %span {{ task.title }}
      %span.pull-right( ng-if='isManagable' ng-drag='false' )
        %span.glyphicon.glyphicon-edit.hoverable( ng-click="editTaskModal(task.id)" )
        %span.glyphicon.glyphicon-time.mgl.hoverable( ng-controller='TimetracksCtrl' ng-click='openModal(task.projectId, task.id)' )
      %div( ng-if='task.estimatedTime' ) Time left: {{ timeLeft(task) | secondsToTime }}
