.tasks
  %tasks-column( tasks="tasks" is-managable="isManagable" state-title="Todo" state="todo" )
  %tasks-column( tasks="tasks" is-managable="isManagable" state-title="In Progress" state="in_progress" )
  %tasks-column( tasks="tasks" is-managable="isManagable" state-title="Done" state="done" )
  %tasks-column( tasks="tasks" is-managable="isManagable" state-title="Approved" state="approved" )
