.well.well-sm( ng-hide='members' )
  %h3.center There are no users who accepted any invites.

%div( ng-if='isManagable' )
  .row( ng-if='usersForInvite.length > 0' )
    .col-sm-4
      .well.well-sm
        .input-group
          %select.form-control.addon-on-the-right( ng-model="selected" ng-options="user.email for user in usersForInvite" )
          .input-group-btn
            .btn.btn-default( ng-click='addMember(selected.id)' ) invite

  .well.well-sm( ng-if='usersForInvite.length == 0' )
    %h4 There are no users to invite.

%div( ng-if='members' )
  %members-tile( members='members' )