%div( ng-if='members' )
  %table.table.table-hover.table-responsive
    %thead
      %tr
        %td Project
        %td #
        %td Email
        %td Actions
    %tbody( ng-repeat='project in projects' )
      %tr( ng-repeat="member in members" )
        %td {{ project.title }}
        %td {{ member.id }}
        %td {{ member.email }}
        %td
          .btn.btn-danger( ng-click='removeMember(project.id, member.id)' ) Remove
%div(ng-hide='members')
  %h3(style="text-align: center;") There are no invited users yet