%div( ng-hide='members' )
  %h3( style="text-align: center;" ) There are no users who accepted any invites, if they were.

%div( ng-if='members' )
  %table.table
    %thead
      %tr
        %td #
        %td Email
        %td Actions
    %tbody
      %tr( ng-repeat='member in members' )
        %td {{ member.id }}
        %td {{ member.email }}
        %td
          .btn.btn-danger( ng-if='isManagable' ng-click='removeMember(member.id)' ) Remove
