.well.well-sm( ng-hide='members' )
  %h3.center There are no users who accepted any invites.

.row( ng-if='usersForInvite.length > 0 && isManagable' )
  .col-sm-4
    .well.well-sm
      .input-group
        %select.form-control( ng-model="selected" ng-options="user.email for user in usersForInvite" )
        .input-group-btn
          .btn.btn-default( ng-click='addMember(selected.id)' ) invite

.well.well-sm( ng-if='usersForInvite.length == 0' )
  %h4 There are no users to invite.

%div( ng-if='members' )
  %table.table
    %thead
      %tr
        %td #
        %td Email
        %td Actions
    %tbody
      %tr( ng-repeat='member in members' )
        %td {{ member.id }}
        %td {{ member.email }}
        %td
          .btn.btn-danger( ng-if='isManagable' ng-click='removeMember(member.id)' ) Remove
