%form( ng-hide="$state.is('sign_up')" )
  .navbar-form.navbar-left( ng-hide="$state.is('sign_in')" )
    .form-group( ng-hide='projects.length < 1' )
      %select.form-control( ng-model='selected' ng-options='project.title for project in projects' )
