.modal-header
  %h3.modal-title New Timetrack
.modal-body
  %div( ng-if='timetracks' )
    %h4 Tracked time
    %table.table
      %tr
        %td Amount
        %td Start date
        %td Actions
      %tr( ng-repeat='timetrack in timetracks' )
        %td {{timetrack.amount}}
        %td {{timetrack.startDate | date: 'dd/MM/yyyy'}}
        %td
          .btn.btn-success Edit
          .btn.btn-danger( ng-click='deleteTimetrack(timetrack)' ) Destroy
  %h4 Track new time
  %form.form-inline(name="form" novalidate)
    .form-group
      .input-group
        .input-group-addon Time
        %input#inputTime.form-control( type='text' placeholder='1d 10h 20m 10s' ng-model='timetrack.time' )
    .form-group
      .dropdown
        %a#dropdown1.dropdown-toggle( data-target="#" data-toggle="dropdown" href="#" role="button" )
          .input-group
            .input-group-addon
              %span.glyphicon.glyphicon-calendar
            %input#startDate.form-control( type='text' placeholder="{{timetrack.start_date | date: 'dd/MM/yyyy'}}" disabled='true' )
        %ul.dropdown-menu( aria-labelledby="dLabel" role="menu" )
          %datetimepicker( data-datetimepicker-config="{ minView: 'day', dropdownSelector: '#dropdown1' }" ng-model="timetrack.start_date" )
.modal-footer
  %button.btn.btn-success( ng-click='save(form)' ) Save
  %button.btn.btn-warning( ng-click='cancel()' ) Cancel
